<!DOCTYPE html>
<html lang="en">
<head>

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href="./lib/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta charset="UTF-8">
	<title>Dupe Finder</title>

</head>
<body>
		<div v-cloak data-app id="app">
			<v-app>
				<!-- NOTES: 1. LOOK AT HOW WE GOT CSV WORKING. NEED BOTH HTML+JS+BACKEND JS, I REMEMBER I HID THE FILE UPLOAD BUTTON AND HAD IT ACTIVATE IN THE JS WHEN AN 'UPLOAD FILE' BUTTON WAS PRESSED. -->

				<header id="hero">
					<h1 class="display-2 font-weight-bold">Welcome to Yodels' Dupe Finder app!</h1>
					<p class="headline font-weight-thin">Please click the 'Help' button before using the app.</p>
				</header>

					<v-layout row justify-center>
						
						<v-dialog v-model="helpDialog" max-width="400">
							<v-btn class="topBtns" slot="activator">Help</v-btn>
							<v-card>
								<v-card-title class="headline">Dupe Finder Help</v-card-title>
								<v-card-text class="subheading font-weight-thin" id="bod">
									To begin with, the server has 500+ <i>base numbers</i> that are uploaded. Please first select which action you are planning on doing. Selecting the "Find Dupes" radio button will find duplicates.
									<br>
									<br>
									The source that the client is using is in the directory '/DupeFinder/client/readFrom/'. Please name the file you would like to check 'searchThis.csv' (without quotes). Make sure that the file is of CSV type, capitalization is required. This is very important, so please be sure that your file is in the correct format. Once you have named it and have checked its filetype, move it into the directory above.
									<br>
									<br>
									Now you can click the 'Start' button. This will initiate the checking process, and display any duplicate entries that it finds in your CSV file. We are currently working on a CSV export for this.
									<br>
									<br>
									For further instructions, please check this directories 'client' folder for a 'readme.docx'.
									<br>
									<br>
									Thanks for using the app!
								</v-card-text>
								<v-divider></v-divider>
								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn class="dotTxt" @click="helpDialog = false">Okay</v-btn>
									<v-spacer></v-spacer>
								</v-card-actions>
							</v-card>
						</v-dialog>
						<v-dialog v-model="numsDialog" scrollable max-width="300px">
							<v-btn class="topBtns" @click="viewNums" slot="activator">View Base Numbers</v-btn>
							<v-card>
								<v-card-title>
									<div>
										<h3 class="headline mb-0">Base Numbers</h3>
										<div class="dotTxt subheading font-weight-thin">List of all base numbers uploaded to the database.<br>These numbers are owned by Yodel.</div>
									</div>
								</v-card-title>
								<v-divider></v-divider>
								<v-card-text style="height: 300px;">
									<div class="text-xs-center">
										<h3 class="headline dotTxt">
											Total: {{ baseNums.length }}
										</h3>
										<p class="dotTxt" v-for="item in baseNums">
											{{ item }}
										</p>
									</div>
								</v-card-text>
								<v-divider></v-divider>
								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn class="dotTxt" @click="numsDialog = false">Okay</v-btn>
									<v-spacer></v-spacer>
								</v-card-actions>
							</v-card>
						</v-dialog>
					</v-layout>

					<v-dialog v-model="loading" persistent width="300">
						<v-card color="primary" dark>
							<v-card-text class="dotTxt subheading">
								Loading numbers...
								<v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
							</v-card-text>
						</v-card>
					</v-dialog>
					
					<v-container>
						<v-layout row justify-center>
							<v-card max-width="400">
								<v-card-title class="headline font-weight-bold">Options:</v-card-title>
								<v-card-text class="subheading font-weight-thin">
									<v-radio-group v-model="options">
										<v-radio label="Dupes" value="dupes"></v-radio>
										<v-radio label="Upload New Base" value="upldNewBase"></v-radio>
										<!-- <v-radio label="Upload Owned Numbers" value="upldOwned"></v-radio> -->
									</v-radio-group>
								</v-card-text>
								<v-divider></v-divider>
								<v-card-actions>
									<v-spacer></v-spacer>
									<input type="file" style="display: none;" id="myFile">
									<v-btn @click="getFile" :disabled="disabled">Upload</v-btn>
									<v-btn @click="initMain" id="start">Start</v-btn>
									<!-- <v-btn @click="checkerTwo(thashmap)" style="display: none;" id="strtBtn">Start2</v-btn> -->
									<v-spacer></v-spacer>
								</v-card-actions>
							</v-card>
							<v-card v-model="tdupes" v-if="tdupes != null" id="dupesCard" max-width="400">
								<v-card-title class="headline font-weight-bold">Dupes:</v-card-title>
								<v-card-text class="subheading font-weight-thin">
									<v-list-tile v-for="item in tdupes" @click="">
										<v-list-tile-content>
											{{ item }}
										</v-list-tile-content>
									</v-list-tile>
								</v-card-text>
							</v-card>
						</v-layout>
					</v-container>

					<v-snackbar v-model="loadedSnack" :timeout="timeout" color="success">
						Numbers loaded succesfully!
					</v-snackbar>

					<v-snackbar v-model="dupesSnack" :timeout="zeroTime" color="warning">
						Please ensure that 'checkThis.csv' is<br>
						present in '/DupeFinder/client/readFrom'
						<v-btn dark flat @click="dupesSnack = false">Okay</v-btn>
					</v-snackbar>

					<v-snackbar v-model="upldNewSnack" :timeout="zeroTime" color="warning">
						Please ensure that 'newBase.csv' is<br>
						present in '/DupeFinder/client/readFrom/'
						<v-btn dark flat @click="upldNewSnack = false">Okay</v-btn>
					</v-snackbar>


					
			</v-app>
		</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="./main.js" type="module"></script>
	<script src="./helper/api.js" type="module"></script>

</body>
</html>